@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Nabla&family=Rubik+Moonrocks&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-mono_trust_display: "Momo Trust Display";
  --font-hollow: "Bungee Outline", cursive;
  --color-wheat-50: #fefbf6;
  --color-wheat-100: #faf3e3;
  --color-wheat-200: #f5e5c5;
  --color-wheat-300: #f0d5a1;
  --color-wheat-400: #e9c27c;
  --color-wheat-500: #e2af57;
  --color-wheat-600: #c99438;
  --color-wheat-700: #a6762c;
  --color-wheat-800: #835c25;
  --color-wheat-900: #6a4a20;
}

.debug {
  @apply outline-1 outline-amber-400 outline-solid;
}

/* Font classes */
.font-hollow {
  font-family: "Bungee Outline", cursive;
}

.font-nabla {
  font-family: "Nabla", cursive;
}

.font-moonrocks {
  font-family: "Rubik Moonrocks", cursive;
}

#root {
  width: 100vw;
  height: 100vh;
}

